<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.allcard">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 매칭카드가 된 사용자 정보를 불러온다.
	//
	////////////////////////////////////////////////// -->
	
		<select id="selectAllCard" resultType="UserVo">
		/* com.skt.date.sql.allcard.selectAllCard */
		SELECT		T_MATCHING.TO		AS email,
					T_USER.GENDER		AS gender,	
					T_USER.NICKNAME	AS nickname
		FROM		T_MATCHING
		JOIN		T_USER
		ON			T_MATCHING.TO=T_USER.EMAIL
		WHERE		T_MATCHING.FROM 	=#{email}
		
		</select>
		
		<select id="selectAllCardImg" resultType="UploadVo">
		/* com.skt.date.sql.allcard.selectAllCard */
		SELECT		T_MATCHING.TO		AS email,
					T_USER.GENDER		AS gender,	
					T_USER.NICKNAME	AS nickname
		FROM		T_MATCHING
		JOIN		T_USER
		ON			T_MATCHING.TO=T_USER.EMAIL
		WHERE		T_MATCHING.FROM 	=#{email}
		
		</select>
		
<!-- 		<select id="selectImg" parameterType="UserVo" resultType="UploadVo">
		/* com.skt.date.sql.profile.selectImg */
		SELECT		DATA		AS filestream
		FROM		T_USER_IMG 
		WHERE		EMAIL 	= #{email}
		
		</select> -->
		
		
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>