<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.allcard">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 카드의 기본정보를 불러온다.
	//
	////////////////////////////////////////////////// -->
		<select id="selectAllCard" parameterType="UserVo" resultType="UserVo">
		/* com.skt.date.sql.allcard.selectAllCard */
		SELECT		T_MATCHING.TO		AS email,
					T_USER.GENDER		AS gender,	
					T_USER.NICKNAME	AS nickname
		FROM		T_MATCHING
		JOIN		T_USER
		ON			T_MATCHING.TO=T_USER.EMAIL
		WHERE		T_MATCHING.FROM 	=#{email}
		
		</select>
		
	<!-- //////////////////////////////////////////////////
	//
	// 카드의 이미지를 불러온다
	//
	////////////////////////////////////////////////// -->
		
		<select id="selectAllCardImg" parameterType="String" resultType="UploadVo">
		/* com.skt.date.sql.allcard.selectAllCardImg */
		SELECT		T_USER_IMG.EMAIL AS email,
					T_USER_IMG.DATA  AS filestream
		FROM		T_MATCHING
		JOIN		T_USER
		ON			T_MATCHING.TO=T_USER.EMAIL
		JOIN		T_USER_IMG
		ON			T_MATCHING.TO=T_USER_IMG.EMAIL
		WHERE		T_MATCHING.TO 	=#{email}
		</select>
		
	<!-- //////////////////////////////////////////////////
	//
	// 카드의 부가적인 정보를 불러온다
	//
	////////////////////////////////////////////////// -->
		
		<select id="selectAllCardAdd" parameterType="String" resultType="ProfileVo">
		/* com.skt.date.sql.allcard.selectAllCardAdd */
		SELECT		CLASSIFY			AS classify,
					DATA				AS data
		FROM		T_MATCHING
		JOIN		T_USER_ADDITIONAL
		ON			T_MATCHING.TO=T_USER_ADDITIONAL.EMAIL
		WHERE		T_MATCHING.TO 	=#{email}

		</select>

		
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>