<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.matching">

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// INCLUDE //////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// SELECT ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- //////////////////////////////////////////////////
	//
	// 서버 시간 조회한다.
	//
	////////////////////////////////////////////////// -->
	<select id="matchingTimer" resultType="String">
		/* com.skt.date.sql.matching.matchingTimer*/
		SELECT		CURRENT_TIMESTAMP()		
		FROM 		DUAL
	</select>
	
	<!-- //////////////////////////////////////////////////
	//
	// 오늘 카드 날짜 조회
	//
	////////////////////////////////////////////////// -->	
	<select id="matchingPickToday" resultType="FromToVo">
		/* com.skt.date.sql.matching.matchingPickToday*/
		<![CDATA[
			SELECT			`TO`				AS		`to`
			FROM				T_MATCHING
			WHERE			CREATE_DT		=		CURDATE()
		]]>
	</select>
	
	<!-- //////////////////////////////////////////////////
	//
	// 오늘 카드 날짜 조회
	//
	////////////////////////////////////////////////// -->	
	<select id="matchingHistory" resultType="FromToVo">
		/* com.skt.date.sql.matching.matchingHistory*/
		<![CDATA[
			SELECT				`TO`				as 		othermeail
			FROM					T_MATCHING
			limit 					2
		]]>
	</select>
	
	<!-- //////////////////////////////////////////////////
	//
	// 유저를 조회한다.
	//		1. 나와 다른 신분
	//		2. T_MATCHING 에서 전에 만났던 사람 제외
	//
	////////////////////////////////////////////////// -->
	<select id="selectTwoCard" parameterType="MatchingVo" resultType="MatchingVo">
		/* com.skt.date.sql.matching.selectTwoCard*/
		<![CDATA[
				SELECT 			EMAIL			AS				email
								,	GENDER 			AS 			gender
								,	NICKNAME		AS				nickname
				FROM 			T_USER
				WHERE			GENDER 			!=				#{ gender }
				AND 				EMAIL 			NOT IN 	(	SELECT	 	`TO` 				AS			 otheremail
																		FROM 		T_MATCHING
																		WHERE 		`FROM`	 			=			#{ email }	)
				limit 				2
		]]>
	</select>

	<!-- //////////////////////////////////////////////////
	//
	// 유저를 조회한다.
	//		1. 나와 다른 신분
	//		2. 위에 두개 뽑기
	//
	////////////////////////////////////////////////// -->
	<select id="matchingUserAlready" resultType="MatchingVo">
		/* com.skt.date.sql.matching.matchingUserAlready*/
		<![CDATA[
				SELECT 			EMAIL			AS				email
								,	GENDER 			AS 			gender
								,	NICKNAME		AS				nickname
				FROM 			T_USER
				WHERE			EMAIL IN (	SELECT			`TO`		
										FROM				T_MATCHING
										WHERE			CREATE_DT		=		CURDATE()		)
		]]>
	</select>
	
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// MERGE ////////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// INSERT ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- //////////////////////////////////////////////////
	//
	// INSERT 만난 사람
	//
	////////////////////////////////////////////////// -->
	<insert id="insertMatchedCard" parameterType="FromToVo" >
		/*	com.skt.date.sql.matching.insertMatchedCard*/
		<![CDATA[
			INSERT	INTO	T_MATCHING (
			 						`FROM`
			 					,	 `TO`
			 					,	CREATE_DT 
			)	VALUES	(
			 						 #{ from }
			 					,	 #{ to }
			 					,	CURRENT_TIMESTAMP()
			)
		]]>
	</insert>

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// UPDATE ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// DELETE ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

</mapper>