<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.matching">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 유저를 조회한다.
	//		1. 나 자신 아닌
	//		2. 나와 신분이 다른
	//		3. 전에 만났던 사람 아닌
	//
	////////////////////////////////////////////////// -->
	<select id="matchingUser" parameterType="MatchingVo" resultType="MatchingVo">
		/* com.skt.date.sql.user.matchingUser*/
		SELECT		EMAIL		AS email
						,GENDER		AS gender	
						,NICKNAME	AS nickname
		FROM			T_USER
		WHERE		EMAIL 	!= #{email}
		AND			GENDER	!= #{gender}
		AND			NOT IN	(	SELECT `TO` AS email                  
										FROM	T_MATCHING                         
										WHERE	`FROM`	=	#{email} )	
	</select>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// MERGE //////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INSERT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->

		<!-- //////////////////////////////////////////////////
	//
	// 내가 만났던 카드
	//
	////////////////////////////////////////////////// -->
	
	<insert id="insertMatchedCard" parameterType="MatchingVo">
		/* com.skt.date.sql.user.matchingUser*/
	
	</insert>
		
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>