<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.matchingRating">

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// INCLUDE //////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// SELECT ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 오늘 별 점 했는지 조회
	//
	////////////////////////////////////////////////// -->	
	<select id="matchingRate" parameterType="FeelingVo" resultType="FeelingVo">
		/* com.skt.date.sql.matchingRating.matchingRate*/
		<![CDATA[
			SELECT			*
			FROM				T_FEELING
			WHERE			CREATE_DT		=		CURDATE()
			AND				`TO`				=		#{ to }
		]]>
	</select>
	
	
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// MERGE ////////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// INSERT ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->
		
	<!-- //////////////////////////////////////////////////
	//
	// INSERT 만난 사람
	//
	////////////////////////////////////////////////// -->
	<insert id="insertMatchingRate" parameterType="FeelingVo" >
		/*	com.skt.date.sql.matchingRating.insertMatchingRate*/
		<![CDATA[
			INSERT	INTO	T_FEELING (
			 						`FROM`
			 					,	 `TO`
			 					,	VALUE
			 					,	CREATE_DT 
			)	VALUES	(
			 						 #{ from }
			 					,	 #{ to }
			 					,	#{ value }
			 					,	CURRENT_TIMESTAMP()
			)
		]]>
	</insert>

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// UPDATE ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////// DELETE ///////////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////////////////////////// -->

</mapper>