<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.profile">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 프로필을 조회한다.
	//
	////////////////////////////////////////////////// -->
<!-- 	<select id="selectProfile" parameterType="String" resultType="ProfileVo">
		/* com.skt.date.sql.profile.selectProfile */
		SELECT		T_USER.EMAIL		AS email,
					T_USER.PASS			AS pass,
					T_USER.GENDER		AS sex,	
					T_USER.NICKNAME		AS name,
					T_USER_ADDITIONAL.CLASSIFY as classify,
					T_USER_ADDITIONAL.DATA as data,
					T_USER_IMG.DATA as filestream
								
		FROM		T_USER 
		JOIN 		T_USER_ADDITIONAL
		ON			T_USER.EMAIL=T_USER_ADDITIONAL.EMAIL
		JOIN		T_USER_IMG
		ON			T_USER_ADDITIONAL.EMAIL=T_USER_IMG.EMAIL
		WHERE		T_USER.EMAIL 	= #{email}
		
	</select> -->
	
		<select id="selectProfile" parameterType="String" resultType="UserVo">
		/* com.skt.date.sql.profile.selectProfile */
		SELECT		EMAIL		AS email,
					PASS		AS pass,
					GENDER		AS sex,	
					NICKNAME	AS name
		FROM		T_USER 
		WHERE		EMAIL 	= #{email}
		
		</select>
		
		<select id="selectImg" parameterType="String" resultType="UploadVo">
		/* com.skt.date.sql.profile.selectImg */
		SELECT		DATA		AS filestream
		FROM		T_USER_IMG 
		WHERE		EMAIL 	= #{email}
		
		</select>
		
		<select id="selectAdd" parameterType="String" resultType="ProfileVo">
		/* com.skt.date.sql.profile.selectImg */
		SELECT		CLASSIFY		AS classify,
					DATA			AS data
		FROM		T_USER_ADDITIONAL 
		WHERE		EMAIL 	= #{email}
		</select>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>