<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.profile">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 프로필을 조회한다.
	//
	////////////////////////////////////////////////// -->
	<select id="selectProfile" parameterType="PeopleVo" resultType="PeopleVo">
		/* com.skt.date.sql.profile.selectProfile */
		SELECT		EMAIL		AS email,
					PASS		AS pass,
					GENDER		AS gender,	
					NICKNAME	AS nickname
								
		FROM		T_USER
		WHERE		EMAIL 	= #{email}
		
		<!-- join쿼리문으로 바꾸기 -->
	</select>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>