<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.profile">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 프로필 기본정보를 조회한다
	//
	////////////////////////////////////////////////// -->
		<select id="selectProfile" parameterType="UserVo" resultType="UserVo">
		/* com.skt.date.sql.profile.selectProfile */
		SELECT		EMAIL		AS email,
					PASS		AS pass,
					GENDER		AS gender,	
					NICKNAME	AS nickname,
					YEAR		AS year,
					MONTH		AS month, 
					DATE		AS date
		FROM		T_USER 
		WHERE		EMAIL 	= #{email}
		
		</select>
	<!-- //////////////////////////////////////////////////
	//
	// 프로필의 사진을 조회한다
	//
	////////////////////////////////////////////////// -->
		
		<select id="selectImg" parameterType="UserVo" resultType="UploadVo">
		/* com.skt.date.sql.profile.selectImg */
		SELECT		DATA		AS filestream
		FROM		T_USER_IMG 
		WHERE		EMAIL 	= #{email}
		
		</select>
	<!-- //////////////////////////////////////////////////
	//
	// 프로필의 부가정보를 조회한다
	//
	////////////////////////////////////////////////// -->
		
		<select id="selectAdd" parameterType="UserVo" resultType="ProfileVo">
		/* com.skt.date.sql.profile.selectAdd */
		SELECT		CLASSIFY    AS classify,
					DATA		AS data
		FROM		T_USER_ADDITIONAL
		WHERE		EMAIL 	= #{email}
		
		</select>
	<!-- //////////////////////////////////////////////////
	//
	// 프로필 사진을 수정한다
	//
	////////////////////////////////////////////////// -->
		
		<update id="UploadProfile" parameterType="UploadVo">
		/* com.skt.date.sql.profile.UploadProfile */
		UPDATE		T_USER_IMG
		SET 		DATA		= #{filestream}
		WHERE		EMAIL 		= #{email}
		
		</update>
		
	<!-- //////////////////////////////////////////////////
	//
	// 프로필 부가정보를 수정한다
	//
	////////////////////////////////////////////////// -->
		<update id="UploadAdd" parameterType="ProfileVo">
		/* com.skt.date.sql.profile.UploadAdd */
		UPDATE		T_USER_ADDITIONAL
		SET 		DATA		= #{data},
					UPDATE_DT	= NOW()
		WHERE		CLASSIFY 	= #{classify}
		AND 		EMAIL 		= #{email}
		</update> 
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>