<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
<!-- namespace에서 interface로 정의된 DAO를 정확히 명시해주어야 한다 -->
<mapper namespace="com.skt.date.sql.user">

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INCLUDE ////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// SELECT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// MERGE //////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// INSERT /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- //////////////////////////////////////////////////
	//
	// 가입신청을 처리한다.
	//
	////////////////////////////////////////////////// -->
	<insert id="insertUser" parameterType="AuthVO">
		<selectKey keyProperty="id" resultType="String" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		/* com.skt.date.sql.user.insertUser */
		INSERT INTO T_USER(
			USER_ID,
			USER_UUID,
			OS_UUID,
			HDP_UUID,
			USER_NM,
			USER_EMAIL,
			ROLE_ID,
			USER_AUTH_LEVEL_CODE,
			USER_TYPE_CODE,
			USER_USE_FL,
			SERVICE_START_DT,
			SERVICE_END_DT,
			JOIN_APPROVAL_CODE,
			<if test="companyName != null and companyName != ''">BP_COMPANY_NM,</if>
			<if test="recommenderId != null and recommenderId != ''">SKT_RECOMMEND_ID,</if>
			SKT_APPROVAL_FL,
			CREATED_USER_ID,
			CREATED_DT,
			UPDATED_USER_ID,
			UPDATED_DT
		)
		VALUES(
			#{id},
			#{password},
			#{password},
			#{password},
			#{name},
			#{email},
			#{roleId},
			#{authLevelCode},
			#{type},
			'Y',
			CURRENT_TIMESTAMP(),
			DATE_ADD(CURRENT_TIMESTAMP(), INTERVAL CAST(#{serviceEndDateStr} AS INT) MONTH),
			#{joinApprovalCode},
			<if test="companyName != null and companyName != ''">#{companyName},</if>
			<if test="recommenderId != null and recommenderId != ''">#{recommenderId},</if>
			'N',
			#{createdUserId},
			CURRENT_TIMESTAMP(),
			#{updatedUserId},
			CURRENT_TIMESTAMP()
		)
	</insert>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// UPDATE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////// DELETE /////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////// -->
	
</mapper>