@charset "utf-8";
/* CSS Document */
/****************************************************************
	font
*****************************************************************/
@font-face {
    font-family: 'notokr-regular';
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-regular.woff2') format('woff2'),
         url('../fonts/notokr-regular.woff') format('woff'),
         url('../fonts/notokr-regular.ttf') format('truetype'),
         url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixGo';
    src: url('../fonts/RixGo.eot');
    src: url('../fonts/RixGo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RixGo.woff') format('woff'),
         url('../fonts/RixGo.ttf') format('truetype'),
         url('../fonts/RixGo.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/****************************************************************
	Setting
*****************************************************************/
* {padding:0; margin:0;}
body {font-size:16px; color:#373737; background-color:#f1f1f1; font-family: 'RixGo','notokr-regular', Arial, Helvetica, "Sans-serif";}
ul,ol {list-style:none;}
img,button {border:0 none;}
button {cursor:pointer; background:none; font-family: "RixGo";}
table {width:100%; border-collapse:collapse;}
em,address {font-style:normal;}
a,u {text-decoration:none; color:#373737;}
textarea {resize:none; font-family: "RixGo","notokr-regular", Arial, Helvetica, "Sans-serif";}
input {box-sizing:border-box; -webkit-box-sizing:border-box;}

/****************************************************************
	header
*****************************************************************/
.sa-layout-header {height:152px; background:url(../images/bg_header.png) no-repeat; background-size:100% 100%;}
.sa-layout-header .sa-ui-header {position:relative; height:152px;}
.sa-layout-header .sa-ui-header h1.sa-h1-logo {position:absolute; top:50%; left:0; margin-top:-46px;}
.sa-ui-header-menu {display:block; overflow:hidden;}

.sa-ui-header-menu ul.sa-list-top-menu {display:block;}
.sa-ui-header-menu ul.sa-list-menu {float:right; margin-top:35px; overflow:hidden;}
.sa-ui-header-menu ul.sa-list-menu li {float:left; margin-left:40px;}
.sa-ui-header-menu ul.sa-list-menu li a {display:block; padding:18px 0; color:#fff; font-size:18px;}
.sa-ui-header-menu ul.sa-list-menu li.sa-selected a {border-top:2px solid #fff; border-bottom:2px solid #fff;}

/****************************************************************
	contents
*****************************************************************/
.sa-layout-contents {padding:30px 0 99px 0; margin:auto; width:980px; overflow:hidden;}

/****************************************************************
	마감
*****************************************************************/
.sa-ui-close-wrap {display:none; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5); z-index:2;}
.sa-ui-close-wrap  em.sa-icon-close {display:inline-block; position:absolute; top:50%; left:50%; margin:-60px 0 0 -60px; width:121px; height:120px; background:url(../images/icon_close.png) no-repeat;}

.sa-ui-close-wrap2 {display:none; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(39,33,14,0.8); text-align:center; z-index:3;}
.sa-ui-close-wrap2 em.sa-icon-close-clock {display:inline-block; width:193px; height:195px; margin-top:119px; background:url(../images/icon_close_clock.png) no-repeat;}
.sa-ui-close-wrap2 p.sa-text-time {margin:40px 0 15px 0; text-align:center;}
.sa-ui-close-wrap2 p.sa-text-time span {display:inline-block; border-top:1px solid #fff; border-bottom:1px solid #fff; line-height:50px; font-size:30px; color:#fff;}
.sa-ui-close-wrap2 span.sa-text-ment {display:block; color:#fff; text-align:center;}

.sa-ui-image-close {display:none; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5);}
.sa-ui-image-close em.sa-icon-close {display:block; position:absolute; top:50%; left:50%; margin:-23px 0 0 -24px; width:48px; height:47px; background:url(../images/icon_coin.png) no-repeat;}

/****************************************************************
	CARD
*****************************************************************/
ul.sa-list-card {float:left; margin:0 -9px;}
ul.sa-list-card li {float:left; margin-top:23px; width:50%;}
ul.sa-list-card li a {display:block; padding:0 9px;}
ul.sa-list-card li .sa-ui-profile {
	-webkit-border-radius:4px;
	 -moz-border-radius:4px;
	 -o-border-radius:4px;
	 -ms-border-radius:4px;
	 border-radius:4px;
	 
	 -webkit-box-shadow: -7px 5px 10px -3px rgba(0,0,0,0.1);
	 -moz-box-shadow: -7px 5px 10px -3px rgba(0,0,0,0.1);
	 -o-box-shadow: -7px 5px 10px -3px rgba(0,0,0,0.1);
	 -ms-box-shadow: -7px 5px 10px -3px rgba(0,0,0,0.1);
	 box-shadow: -7px 5px 10px -3px rgba(0,0,0,0.1);
	
	position:relative;  background-color:#fff; overflow:hidden;
	}
ul.sa-list-card li .sa-ui-profile img.sa-data-photo {width:100%;}
ul.sa-list-card li .sa-ui-profile span.sa-data-nickname {display:block; padding:13px 0 11px 0; border-bottom:1px solid #ddd; color:#b19e63; text-align:center;}
ul.sa-list-card li .sa-ui-profile span.sa-data-nickname strong {color:#3b3b3b;}
ul.sa-list-card li .sa-ui-profile .sa-data-info {padding:15px 0; font-size:12px; text-align:center; overflow:hidden;}
ul.sa-list-card li .sa-ui-profile .sa-data-info span.sa-data {display:inline-block; float:left; width:33%; background:url(../images/icon_bar.jpg) no-repeat left center; color:#999; text-align:center; letter-spacing:-1px;}
ul.sa-list-card li .sa-ui-profile .sa-data-info span.sa-data:first-child {background:none;}
ul.sa-list-card li .sa-ui-profile .sa-data-info span.sa-data.sa-data-import {color:#9a843b;}
ul.sa-list-card li .sa-ui-profile.sa-ui-profile-close .sa-ui-close-wrap {display:block;}

/****************************************************************
	today lesson
*****************************************************************/
.sa-ui-today {padding:16px 0; border-top:1px solid #555; border-bottom:1px solid #555;}
.sa-ui-today p.sa-data-date {color:#202020; font-size:20px; text-align:center;}
.sa-ui-today p.sa-data-date strong {font-size:50px; font-weight:normal; font-family:"Times New Roman";}
.sa-ui-today p.sa-data-date span.sa-data-daily {margin-left:55px;}
.sa-ui-today span.sa-text-title {display:block; color:#202020; font-size:36px; text-align:center; font-family:"Times New Roman";}

.sa-ui-today-contents {position:relative;}
.sa-ui-today-contents p.sa-ui-text {padding:18px 0 25px 0; color:#202020; font-size:14px; font-weight:bold; text-align:center;}
.sa-ui-today-contents p.sa-ui-text span.sa-data-time {color:#b0973f;}
.sa-ui-today-contents.sa-ui-today-close .sa-ui-close-wrap2 {display:block;}
.sa-ui-card-wrap {padding-bottom:20px; margin:0 auto; width:706px; overflow:hidden;}
.sa-ui-card-wrap ul.sa-list-card {float:inherit; margin:0 -25px;}
.sa-ui-card-wrap ul.sa-list-card li {margin-top:0px;}
.sa-ui-card-wrap ul.sa-list-card li a {padding:0 25px;}
.sa-ui-card-wrap ul.sa-list-card li a.sa-ui-profile-close {cursor:default;}
.sa-ui-card-wrap ul.sa-list-card li a.sa-ui-profile-close .sa-ui-close-wrap {display:block;}
.sa-ui-card-wrap ul.sa-list-card li .sa-ui-profile {position:relative; padding-bottom:5px;}
.sa-ui-card-wrap ul.sa-list-card li .sa-ui-profile .sa-data-info {padding:5px 0;}
.sa-ui-card-wrap ul.sa-list-card li .sa-ui-profile .sa-data-nickname {margin-bottom:5px;}
.sa-ui-close-time {padding:0 0 0 138px; margin-top:7px; background-color:#fff;}
.sa-ui-close-time dl {overflow:hidden;}
.sa-ui-close-time dl dt {float:left; padding:0 48px 0 50px; margin:17px 0 19px 0; line-height:37px; border-right:1px solid #dbdbdb; background:url(../images/icon_clock.png) no-repeat left 0; font-weight:bold;}
.sa-ui-close-time dl dd {float:left; padding-left:57px; color:#373737; vertical-align:middle;}
.sa-ui-close-time dl dd span.sa-data-time {float:left; color:#202020; line-height:73px; font-size:60px; font-family:"Times New Roman";}
.sa-ui-close-time dl dd span.sa-text {display:inline-block; padding-left:18px; line-height:73px;}

.sa-ui-list-wrap .sa-ui-title {margin-top:40px; padding-bottom:20px; border-bottom:1px solid #202020; font-size:30px; text-align:center; font-family:"Times New Roman"; }
.sa-ui-list-wrap p.sa-ui-text {padding:20px 0 0 0; font-size:13px; font-weight:bold; text-align:center; color:#555;}
ul.sa-list-history {margin:auto; margin-top:-15px; overflow:hidden;}
ul.sa-list-history li {float:left; margin-top:30px; width:326px;}
ul.sa-list-history li .sa-ui-history-wrap {padding:0 10px; overflow:hidden;}
ul.sa-list-history li p.sa-data-date {margin-bottom:10px; color:#202020; text-align:center; background-color:#e2d4ac;}
ul.sa-list-history li p.sa-data-date strong {font-size:36px; font-family:"Times New Roman";}
ul.sa-list-history li p.sa-data-date span.sa-data-daily {padding-left:22px;}
ul.sa-list-history li ul.sa-list-profile-card {margin:0 -2px; overflow:hidden;}
ul.sa-list-history li ul.sa-list-profile-card li {
	-webkit-border-radius:4px;
	 -moz-border-radius:4px;
	 -o-border-radius:4px;
	 -ms-border-radius:4px;
	 border-radius:4px;
	float:left; padding:0px; margin-top:0px; width:50%; overflow:hidden;}
ul.sa-list-history li ul.sa-list-profile-card li .sa-ui-profile-card {position:relative; padding:0 2px;}
ul.sa-list-history li ul.sa-list-profile-card li .sa-ui-profile-card img {width:100%; height:134px;}
ul.sa-list-history li ul.sa-list-profile-card li .sa-ui-profile-card span.sa-data-nickname {display:block; padding:8px 0 7px 0; border-bottom:1px solid #dddddd; color:#b19e63; font-size:12px; font-weight:bold; text-align:center; background-color:#fff;}
ul.sa-list-history li ul.sa-list-profile-card li .sa-ui-profile-card span.sa-data-nickname  strong {color:#3b3b3b;}
ul.sa-list-history li ul.sa-list-profile-card li .sa-ui-profile-card .sa-data-info {padding-bottom:8px; background-color:#fff;}
ul.sa-list-history li ul.sa-list-profile-card li .sa-ui-profile-card .sa-data-info span.sa-data {display:block; padding:8px 10px 0 10px; font-size:11px; font-weight:bold; color:#666;}
ul.sa-list-history li ul.sa-list-profile-card li a.sa-ui-profile-close .sa-ui-profile-card .sa-ui-close-wrap {display:block;}

/****************************************************************
	main
*****************************************************************/
.sa-layout-main-header {margin-bottom:66px; height:600px; background:url(../images/bg_main.png) no-repeat; background-size:100% 100%; font-family:'RixGo';}
.sa-ui-header {position:relative; margin:auto; width:980px;}
.sa-ui-header ul.sa-list-top-menu {float:right;}
.sa-ui-header ul.sa-list-top-menu li {float:left; padding-top:10px;}

.sa-ui-header ul.sa-list-top-menu li a {display:block; padding-bottom:5px; margin-left:10px; width:120px; border-bottom:1px solid #fff; color:#fff; font-size:12px; font-weight:bold; text-align:right; font-family:"notokr-regular";}
.sa-ui-logo {display:block; padding-top:110px; text-align:center;}
.sa-ui-logo span.sa-ui-text {display:block; padding-bottom:15px; color:#fff; font-size:22px; line-height:28px;}

.sa-ui-head-contents {margin:auto; width:502px;}
.sa-ui-head-contents ul.sa-list-login-menu {padding-top:45px; overflow:hidden;}
.sa-ui-head-contents ul.sa-list-login-menu li {float:right; width:246px; text-align:center;}
.sa-ui-head-contents ul.sa-list-login-menu li:first-child {float:left;}
.sa-ui-head-contents ul.sa-list-login-menu li a {display:block; padding-bottom:13px; border-bottom:2px solid #fff; fotn-size:16px; color:#fff;}
.sa-ui-head-contents .sa-data-num {padding:15px 0 10px 0; border-bottom:1px solid rgba(255,255,255,0.3); overflow:hidden;}
.sa-ui-head-contents .sa-data-num dl.sa-data-total {position:relative; float:left; width:50%; font-family:"notokr-regular";}
.sa-ui-head-contents .sa-data-num dl.sa-data-total dt {position:absolute; top:4px; left:0; float:left; color:#cbcbcb; font-size:12px; font-weight:bold;}
.sa-ui-head-contents .sa-data-num dl.sa-data-total dd {float:left; width:100%; color:#fff; font-size:14px; text-align:center;}

.sa-data-sex {border-bottom:1px solid rgba(255,255,255,0.3);}
.sa-data-sex dl {overflow:hidden;}
.sa-data-sex dl dt {float:left; padding-right:10px; line-height:63px; color:#fff;}
.sa-data-sex dl dd {float:left; margin-left:70px; padding:24px 0 0 0;}
.sa-data-sex dl dd label.sa-label-txt {float:left; margin-left:10px; color:#fff;}
.sa-data-sex dl dd .sa-radio {display:inline-block; float:left;}

em.sa-icon-join,
em.sa-icon-login {display:inline-block; margin-right:9px; background:url(../images/icon_head.png) no-repeat; vertical-align:middle;}
em.sa-icon-join {width:13px; height:15px;}
em.sa-icon-login {width:16px; height:16px; background-position:right top;}

.sa-layout-main-contents {width:980px; margin:auto; padding-bottom:99px; border-bottom:1px solid #8b8b8b; overflow:hidden;}
.sa-ui-introduce {float:left; width:452px; background:url(../images/bg_master.png) no-repeat 153px 95px;}

.sa-ui-introduce p.sa-title {padding:13px 0; border-top:1px solid #555; border-bottom:1px solid #555; color:#202020; font-size:20px; text-align:center; font-family:"Times New Roman";}

.sa-ui-introduce ul.sa-list-master {padding:56px 0 0 0; overflow:hidden;}

.sa-ui-introduce ul.sa-list-master li {float:left; width:50%;}
.sa-ui-introduce ul.sa-list-master li span.sa-text {display:block; margin-bottom:15px; color:#373737; line-height:22px; text-align:center;}
.sa-ui-introduce ul.sa-list-master li span.sa-text-where {display:block; position:relative; padding-top:119px; color:#b19e63; font-size:18px; text-align:center;}
.sa-ui-introduce ul.sa-list-master li span.sa-text-where em.sa-icon-where1,
.sa-ui-introduce ul.sa-list-master li span.sa-text-where em.sa-icon-where2 {display:inline-block; position:absolute; top:0; left:50%; margin-left:-56px; width:113px; height:113px; background:url(../images/icon_master.png) no-repeat;}
.sa-ui-introduce ul.sa-list-master li span.sa-text-where em.sa-icon-where2 {background-position:-113px 0;}
.sa-ui-introduce .sa-ui-comment {padding-top:57px; color:#373737; text-align:center; line-height:24px;}
.sa-ui-introduce .sa-ui-comment strong {font-size:20px;}

.sa-ui-card {float:right; width:482px;}
.sa-ui-card p.sa-title {padding:13px 0; border-top:1px solid #555; border-bottom:1px solid #555; color:#202020; font-size:20px; text-align:center; font-family:"Times New Roman";}
.sa-ui-card span.sa-card-det {display:block; padding:25px 0 0 0; color:#555; font-size:13px; text-align:center;}

.sa-layout-main-footer {margin:auto; padding:10px 0 45px 0; width:980px; color:#666666; text-align:right;}
.sa-layout-main-footer span.sa-copy {color:#666; font-size:10px;}

/****************************************************************
	all card
*****************************************************************/
.sa-ui-all-card {margin-top:-40px;}
.sa-ui-all-card ul.sa-list-card {margin-left:-6px;}
.sa-ui-all-card ul.sa-list-card li {margin-top:40px; width:25%;}
.sa-ui-all-card ul.sa-list-card li .sa-ui-profile {padding-bottom:5px;}
.sa-ui-all-card ul.sa-list-card li .sa-data-nickname {margin-bottom:5px;}
.sa-ui-all-card ul.sa-list-card li .sa-ui-profile .sa-data-info {padding:9px 0;}
.sa-ui-all-card ul.sa-list-card li .sa-ui-profile .sa-data-info span.sa-data.sa-data-import {color:#444;}
.sa-ui-all-card ul.sa-list-card li a {padding:0 6px;}
.sa-ui-all-card ul.sa-list-card li a.sa-ui-disabled {cursor:default;}
.sa-ui-all-card ul.sa-list-card li .sa-data-daily {position:relative; padding-bottom:5px; font-size:36px; line-height:1em; font-family:"Times New Roman"; overflow:hidden;}
.sa-ui-all-card ul.sa-list-card li .sa-data-daily .sa-data-month {display:block; float:left; padding:0 22px 9px 0; background:url(../images/bg_daily.png) no-repeat right bottom;}
ul.sa-list-card li  .sa-data-daily .sa-data-day {display:block; float:left; margin:15px 0 0 -5px;}
.sa-ui-not-choice {
	-webkit-border-radius:4px;
	 -moz-border-radius:4px;
	 -o-border-radius:4px;
	 -ms-border-radius:4px;
	 border-radius:4px;
	position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,0.8); z-index:3; display:none;}
.sa-ui-not-choice em.sa-icon-choice {display:inline-block; position:absolute; top:50%; left:50%; margin:-48px 0 0 -51px; width:103px; height:96px; background:url(../images/icon_choice.png) no-repeat; }
.sa-ui-all-card ul.sa-list-card li a.sa-ui-disabled .sa-ui-not-choice {display:block;}

/****************************************************************
	chatting
*****************************************************************/
.sa-ui-chatting {padding:0 30px; background-color:#ebe7da; overflow:hidden;}
.sa-ui-chatting p.sa-ui-ment {padding:17px 0 6px 0; color:#999; font-size:12px; text-align:right;}
.sa-ui-chatting .sa-ui-chat-info {padding:7px 0; border-top:1px solid #262626; border-bottom:1px solid #262626; overflow:hidden;}

.sa-ui-chatting .sa-ui-chat-info img.sa-data-image {
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -o-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 display:inline-block; float:left; margin-right:47px; width:62px; height:62px; border:1px solid  #c1b58f;}
.sa-ui-chatting .sa-ui-chat-info .sa-ui-user-info {overflow:hidden;}
.sa-ui-chatting .sa-ui-chat-info .sa-ui-user-info span.sa-data-name {display:block; padding:8px 0 5px 0; color:#b0973f; font-size:18px; font-weight:bold;}
.sa-ui-chatting .sa-ui-chat-info .sa-ui-user-info span.sa-data-name strong {margin-right:7px; font-size:24px; color:#3b3b3b;}

.sa-ui-chatting .sa-ui-chat-info .sa-ui-user-det span {padding:0 15px; background:url(../images/icon_bar.jpg) no-repeat left 1px; color:#999; font-size:12px;}
.sa-ui-chatting .sa-ui-chat-info .sa-ui-user-det span:first-child {padding-left:0px; background:none;}
.sa-ui-chatting .sa-ui-chat-info .sa-ui-user-det span.sa-data-import {color:#444;}

.sa-ui-chattiong-wrap {margin:20px 0; height:415px; overflow-y:auto;}
ul.sa-list-chatting li {padding:10px 0;}
ul.sa-list-chatting li.sa-ui-your {position:relative; float:left; padding:10px 0 10px 85px; width:80%; text-align:left; overflow:hidden;}
ul.sa-list-chatting li.sa-ui-your img {
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -o-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 display:inline-block; position:absolute; top:0px; left:0; margin-right:15px; width:62px; height:62px; border:1px solid  #c1b58f;
	}
ul.sa-list-chatting li.sa-ui-your .sa-ui-massage-wrap {position:relative; float:left; margin-top:8px; padding-right:70px;}
ul.sa-list-chatting li.sa-ui-your .sa-ui-massage-wrap .sa-data-time {position:absolute; bottom:3px; right:0; color:#898989; font-size:11px; font-family:'notokr-regular';}
ul.sa-list-chatting li.sa-ui-your .sa-ui-massage {
	-webkit-border-radius:3px;
	 -moz-border-radius:3px;
	 -o-border-radius:3px;
	 -ms-border-radius:3px;
	 border-radius:3px;
	 float:left; position:relative; padding:9px 14px 9px 14px; border:1px solid #d6ceb5; background-color:#fff; color:#333; font-size:14px;
	}
ul.sa-list-chatting li.sa-ui-me {float:right; position:relative; padding-right:9px; width:80%; text-align:left; overflow:hidden;}
ul.sa-list-chatting li.sa-ui-me .sa-ui-massage {
	-webkit-border-radius:3px;
	 -moz-border-radius:3px;
	 -o-border-radius:3px;
	 -ms-border-radius:3px;
	 border-radius:3px;
	 float:left; position:relative; padding:9px 14px 9px 14px; border:1px solid #d6ceb5; background-color:#fff7de; color:#333; font-size:14px;
	}
ul.sa-list-chatting li.sa-ui-me .sa-ui-massage-wrap {float:right; position:relative; padding-left:70px;}
ul.sa-list-chatting li.sa-ui-me .sa-ui-massage-wrap .sa-data-time {position:absolute; bottom:3px; left:0; color:#898989; font-size:11px; font-family:'notokr-regular';}

ul.sa-list-chatting li.sa-ui-your .sa-ui-massage em.sa-icon-view,
ul.sa-list-chatting li.sa-ui-me .sa-ui-massage  em.sa-icon-view {display:inline-block; width:9px; height:8px; background:url(../images/icon_chat.png) no-repeat;}
ul.sa-list-chatting li.sa-ui-your .sa-ui-massage em.sa-icon-view {position:absolute; top:6px; left:-8px;}
ul.sa-list-chatting li.sa-ui-me .sa-ui-massage em.sa-icon-view {position:absolute; top:6px; right:-8px; background-position:left bottom;}

.sa-ui-send {margin:0 -30px; padding:18px 30px; background-color:#fff; 
	-webkit-box-shadow:2px 0 5px rgba(0,0,0,0.06);
	 -moz-box-shadow:2px 0 5px rgba(0,0,0,0.06);
	 -o-box-shadow:2px 0 5px rgba(0,0,0,0.06);
	 -ms-box-shadow:2px 0 5px rgba(0,0,0,0.06);
	box-shadow:2px 0 5px rgba(0,0,0,0.06);
}
.sa-ui-send-in {position:relative; padding-right:107px;}
.sa-ui-send-in textarea {display:block; width:100%; height:89px; border:1px solid #ddd; background-color:#f5f5f5;}
.sa-ui-send-in button.sa-btn-send {
	-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	 -moz-text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	 -o-text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	 -ms-text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	position:absolute; top:0; right:0; width:95px; border:1px solid #ac995e; background-color:#c7b270; color:#fff; font-weight:bold; font-size:16px; line-height:89px;
}

/****************************************************************
	프로필 수정.
*****************************************************************/
.sa-ui-modify {margin-top:40px;}
.sa-ui-table-title {position:relative; padding-bottom:10px; margin-bottom:5px; font-size:24px; font-family:"Times New Roman"; border-bottom:1px solid #555; font-weight:bold; letter-spacing:-1px;}
.sa-ui-table-title  span.sa-text {color:#3b3b3b; font-size:22px; font-family:"RoGo"}
.sa-ui-table-title button.sa-btn {position:absolute; top:-10px; right:0;}
table.sa-table-form {width:100%; font-size:14px;}
table.sa-table-form tr th {padding:5px 0 5px 20px; color:#666; text-align:left; vertical-align:top;}
table.sa-table-form tr th span {display:inline-block; margin-top:10px; padding-left:10px; background:url(../images/icon-dot.png) no-repeat left center;}
table.sa-table-form tr td {padding:5px 0; color:#666; font-size:14px; font-weight:bold;}
table.sa-table-form tr td span.sa-data-store {display:inline-block; background:url(../images/icon-small-coin.png) no-repeat left top; padding:5px 0 5px 34px; margin:15px 0;}
table.sa-table-form tr td .sa-ui-inline-form {margin-top:0px;}
table.sa-table-form tr td span.sa-data-text {display:block; padding:5px 0;}

/**********************************************************************
	footer
*******************************************************************/
.sa-layout-footer {width:980px; margin:auto; padding:10px 0 45px 0; text-align:right; color:#666666; border-top:1px solid #8b8b8b;}
.sa-layout-footer span.sa-copy {color:#666; font-size:10px;}

/**********************************************************************
	popup
*******************************************************************/
.sa-layout-popup { z-index:100;}
.sa-layout-popup em.sa-pop-bg {position:fixed; left:0; right:0; bottom:0; top:0; background-color:rgba(0,0,0,0.2);}
.sa-layout-popup-in {
	-webkit-border-radius:9px;
	 -moz-border-radius:9px;
	 -o-border-radius:9px;
	 -ms-border-radius:9px;
	 border-radius:9px;
	position:absolute; top:150px; left:50%; margin:0 0 20px -303px; width:607px;background-color:#fff; overflow:hidden;}
.sa-layout-popup-in img.sa-image-logo {display:inline-block; margin:10px 0 9px 0;}
.sa-layout-pop-head {position:relative; padding:0 0 0 30px; background:url(../images/bg_pop_header.png) repeat;}
.sa-layout-pop-head span.sa-ui-title {font-size:30px; color:#fff; font-style:italic; line-height:65px; letter-spacing:-1px; font-weight:bold; font-family:"Times New Roman";}
.sa-layout-pop-head .sa-btn-close {position:absolute; top:50%; right:19px; margin-top:-15px;}
.sa-layout-pop-contents {position:relative;padding:0 30px;}
.sa-layout-pop-contents p.sa-pop-title {position:relative; padding:35px 0 10px 0;}
.sa-layout-pop-contents p.sa-pop-title span.sa-title {display:inline-block; color:#262626; font-size:40px; font-family:"Times New Roman"; font-style:italic; font-weight:bold; letter-spacing:-1px;}
.sa-layout-pop-contents p.sa-pop-title em.sa-title-line {position:absolute; bottom:0; left:0; display:inline-block; width:91px; border-bottom:2px solid #262626;}
.sa-layout-pop-contents p.sa-pop-title span.sa-pop-det {display:inline-block; margin-left:28px; font-size:12px; color:#606060;}

.sa-layout-pop-footer {margin:35px 13px 30px 13px; overflow:hidden;}
.sa-layout-pop-footer button.sa-btn-footer {float:left; width:50%; padding:0 17px;color:#333; box-sizing:border-box; -webkit-box-sizing:border-box;}
.sa-layout-pop-footer button.sa-btn-footer span {display:block; width:100%; border-bottom:2px solid #676767; line-height:42px; color:#333; font-size:16px;font-weight:bold;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-cancel,
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-login,
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-join {display:inline-block; margin-right:8px; background:url(../images/btn_pop.png) no-repeat; vertical-align:middle;} 
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-cancel {width:20px; height:20px;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-login {width:17px; height:19px; background-position:0px -20px;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-join {margin-top:-3px; width:24px; height:19px; background-position:0px -40px;}

/****************************************************************
	tab
*****************************************************************/
.sa-ui-tab {padding-bottom:30px; overflow:hidden;}
.sa-ui-tab ul.sa-list-tab {width:100%;}
.sa-ui-tab ul.sa-list-tab li {float:left; width:33%;  }
.sa-ui-tab ul.sa-list-tab li.sa-list-second {width:34%;}
.sa-ui-tab ul.sa-list-tab li a {display:block; text-align:center; border-bottom:1px solid #555; font-family:"Times New Roman"; font-size:20px; height:64px; line-height:64px; font-weight:bold; color:#999;}
.sa-ui-tab ul.sa-list-tab li a span.sa-text { font-family:"RoGo"; font-size:18px;}
.sa-ui-tab ul.sa-list-tab li.sa-selected a {border:1px solid #555; border-bottom:none; background:none; color:#202020;}
.sa-ui-tab ul.sa-list-tab li a em.sa-data-lesson,
.sa-ui-tab ul.sa-list-tab li a em.sa-data-message {
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -o-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 display:inline-block; padding:2px 7px 5px 7px; margin-left:7px; font-size:14px; text-align:center;  color:#fff; line-height:1em;
}
.sa-ui-tab ul.sa-list-tab li a em.sa-data-lesson {background-color:#bca764; font-family:"RoGo";}
.sa-ui-tab ul.sa-list-tab li a em.sa-data-message {background-color:#61bbd9; font-family:"RoGo";}

/**********************************************************************
	form
*******************************************************************/
.sa-ui-input-form {margin-top:30px; font-family:"notokr-regular";}
.sa-ui-input-form label.sa-label-input {display:block; color:#606060; font-size:14px; font-weight:bold;}
input.sa-input-text {display:block; padding:0 15px; margin-top:10px; width:100%; height:40px; border:1px solid #ddd; background-color:#f5f5f5;}

.sa-ui-multi-form {position:relative; padding-right:107px;}
.sa-ui-multi-form button.sa-btn {position:absolute; top:0; right:0;}

.sa-ui-inline-form {margin-top:30px; overflow:hidden;}
.sa-ui-inline-form label.sa-label-title {float:left; font-size:14px; font-weight:bold; color:#606060;}
.sa-ui-inline-form .sa-ui-radio {float:left; padding-left:91px;}
.sa-ui-inline-form .sa-ui-radio .sa-radio {display:inline-block; margin-right:10px;;}
.sa-ui-inline-form .sa-ui-radio label.sa-label-radio {margin-top:3px; font-size:14px; font-weight:bold;}

.sa-ui-inline-form label.sa-label-input {display:block; padding-bottom:11px font-weight:bold; color:#606060; font-size:14px; font-weight:bold;}
.sa-ui-inline-form .sa-ui-input-form {float:left;  margin:0 19px 0 0;}
.sa-ui-inline-form input.sa-input-text {display:inline-block; width:120px;}
.sa-ui-inline-form span.sa-text {margin:10px 0 0 9px; color:#606060; font-size:14px; font-weight:bold; line-height:42px;}
.sa-ui-inline-form .sa-select-box {float:left; display:inline-block; margin:10px 19px 0 0; width:120px;}

input.sa-input-text2 {display:block; padding:0 15px; width:100%; height:40px; border:1px solid #ddd; background-color:#fff; font-family:"RixGo";}

.sa-ui-inline-form input.sa-input-text {float:left;}
.sa-ui-inline-form input.sa-input-text2 {float:left; width:77px;}
.sa-ui-inline-form .sa-select-box.sa-select-type {width:57px;}
.sa-ui-inline-form .sa-select-box.sa-select-type span.sa-data-option {padding-right:5px;}
.sa-ui-inline-form .sa-select-box.sa-select-type {margin-right:10px; padding-right:20px;}
.sa-select-box.sa-select-type {margin-top:0px;background-color:#fff;}
.sa-ui-inline-form span.sa-text {float:left; margin:0 8px;}


.sa-ui-checkbox-wrap {position:relative; width:525px;}
.sa-ui-checkbox-wrap ul.sa-list-check {overflow:hidden;}
.sa-ui-checkbox-wrap ul.sa-list-check li {padding:5px 0; float:left; width:160px;}
.sa-ui-checkbox-wrap ul.sa-list-check li input[type="checkbox"] {margin-right:15px; vertical-align:middle;}
.sa-ui-checkbox-wrap button.sa-btn {position:absolute; top:0; right:0;}

.sa-ui-input-wrap {width:426px; overflow:hidden;}
.sa-ui-input-wrap input.sa-input-text2 {float:left; margin:5px 10px;}

.sa-ui-day .sa-ui-checkbox-wrap {margin-top:5px; width:inherit;}

.sa-ui-time-form .sa-ui-inline-form {float:left; margin-left:-70px;}
.sa-ui-time-form .sa-ui-checkbox-wrap {width:inherit; width:inherit; float:left;}
.sa-ui-time-form .sa-ui-checkbox-wrap ul li {padding:0px; line-height:40px;}
.sa-ui-time-form .sa-ui-inline-form .sa-select-box.sa-select-type {margin-right:0px;}

/****************************************************************
	title
*****************************************************************/
.sa-ui-top-title {position:relative; margin-bottom:20px; padding:10px 0; border-top:1px solid #555; border-bottom:1px solid #555; font-size:36px; text-align:center; font-family:"Times New Roman";}
.sa-ui-top-title span.sa-data-name {font-size:30px; font-weight:bold; font-family:'RixGo';}
.sa-ui-top-title a.sa-btn-back {position:absolute; top:16px; left:0; padding-left:40px; background:url(../images/icon_back.png) no-repeat; line-height:31px; color:#95834a; font-size:14px; font-weight:bold; font-family:'RixGo';}

/**********************************************************************
	BUTTON
*******************************************************************/
button.sa-btn {padding:11px 21px; border:1px solid #ac995e; background-color:#c7b270; color:#fff; font-size:14px;
	-webkit-text-shadow:1px 1px 1px #9a8a57;
	-moz-text-shadow:1px 1px 1px #9a8a57;
	-o-text-shadow:1px 1px 1px #9a8a57;
	-ms-text-shadow:1px 1px 1px #9a8a57;
	text-shadow:1px 1px 1px #9a8a57;
 }

/**********************************************************************
	Radio
*******************************************************************/
.sa-radio {
	position: relative;
	width:15px;
	height:15px;
}
.sa-radio input[type=radio] {visibility:hidden;}
.sa-radio label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	background:url(../images/icon_radio.png) no-repeat right top;
	left: 2px;
	top: 2px;
}
.sa-radio label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
}
.sa-radio input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;	
	background:url(../images/icon_radio.png) no-repeat;
}

/**********************************************************************
	Select Box
*******************************************************************/
.sa-select-box { position:relative; height:38px; padding-right:30px; border:1px solid #ddd; cursor:pointer; background-color:#f5f5f5;}
.sa-select-box span.sa-data-option {display:block; padding:0 15px; font-size:14px; color:#999; line-height:38px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sa-select-box em.sa-icon-select {position:absolute; right:12px; top:50%; display:inline-block; margin-top:-2px; width:9px; height:5px; font-size:16px; color:#6e89a3; line-height:33px; background:url(../images/icon_select.png) no-repeat;}
.sa-select-box select {position:absolute; left:0; top:0; width:100%; height:35px; opacity:0; cursor:pointer;
	-webkit-appearance:textfield;
	-moz-appearance:textfield;
	-o-appearance:textfield;
	-ms-appearance:textfield;
	appearance:textfield;
}
.sa-pop-select {border:1px solid #ccc; background-color:#fff;}
.sa-pop-select span {border-right:1px solid #ccc; font-size:14px; color:#999;}


/****************************************************************
	공통
*****************************************************************/
.sa-w146 {width:146px !important;}
.sa-w176 {width:176px !important;}
.sa-w95 {width:95px !important;}

/****************************************************************
	loading
*****************************************************************/
@-webkit-keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(140deg)}}@-moz-keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-moz-transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-moz-transform:rotate(140deg)}}@-o-keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-o-transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-o-transform:rotate(140deg)}}@keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(-140deg);-moz-transform:rotate(-140deg);-ms-transform:rotate(-140deg);transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(140deg);-moz-transform:rotate(140deg);-ms-transform:rotate(140deg);transform:rotate(140deg)}}.loader-1:after{-webkit-animation:loaderAnimate2 1000ms ease-in-out infinite;-moz-animation:loaderAnimate2 1000ms ease-in-out infinite;-o-animation:loaderAnimate2 1000ms ease-in-out infinite;animation:loaderAnimate2 1000ms ease-in-out infinite;clip:rect(0,30px,30px,15px);content:'';border-radius:50%;height:30px;width:30px;position:absolute}@keyframes loaderAnimate2{0%{box-shadow:inset #fff 0 0 0 17px;transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 17px;transform:rotate(140deg)}}.loader-2{-webkit-animation:loaderAnimate2 1000ms linear infinite;-moz-animation:loaderAnimate2 1000ms linear infinite;-o-animation:loaderAnimate2 1000ms linear infinite;animation:loaderAnimate2 1000ms linear infinite;clip:rect(0,30px,30px,15px);height:30px;width:30px;position:absolute;left:50%;top:50%;margin-left:-15px;margin-top:-15px}lesshat-selector{-lh-property:0}@-webkit-keyframes loaderAnimate2{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(220deg)}}@-moz-keyframes loaderAnimate2{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(220deg)}}@-o-keyframes loaderAnimate2{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(220deg)}}@keyframes loaderAnimate2{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(220deg);-moz-transform:rotate(220deg);-ms-transform:rotate(220deg);transform:rotate(220deg)}}lesshat-selector{-lh-property:0}@-webkit-keyframes loaderAnimate22{0%{box-shadow:inset #fff 0 0 0 8px;-webkit-transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 8px;-webkit-transform:rotate(140deg)}}@-moz-keyframes loaderAnimate22{0%{box-shadow:inset #fff 0 0 0 8px;-moz-transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 8px;-moz-transform:rotate(140deg)}}@-o-keyframes loaderAnimate22{0%{box-shadow:inset #fff 0 0 0 8px;-o-transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 8px;-o-transform:rotate(140deg)}}@keyframes loaderAnimate22{0%{box-shadow:inset #fff 0 0 0 8px;-webkit-transform:rotate(-140deg);-moz-transform:rotate(-140deg);-ms-transform:rotate(-140deg);transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 8px;-webkit-transform:rotate(140deg);-moz-transform:rotate(140deg);-ms-transform:rotate(140deg);transform:rotate(140deg)}}.loader-2:after{-webkit-animation:loaderAnimate22 1000ms ease-in-out infinite;-moz-animation:loaderAnimate22 1000ms ease-in-out infinite;-o-animation:loaderAnimate22 1000ms ease-in-out infinite;animation:loaderAnimate22 1000ms ease-in-out infinite;clip:rect(0,30px,30px,15px);content:'';border-radius:50%;height:30px;width:30px;position:absolute}@keyframes loaderAnimate22{0%{box-shadow:inset #fff 0 0 0 17px;transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 17px;transform:rotate(140deg)}}
.page-loading-overlay{position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;background:rgba(0,0,0,0.8);z-index:10000;-webkit-perspective:10000;-moz-perspective:10000;perspective:10000;-webkit-perspective:10000px;-moz-perspective:10000px;perspective:10000px;zoom:1;filter:alpha(opacity=100);-webkit-opacity:1;-moz-opacity:1;opacity:1;-webkit-transition:all 800ms ease-in-out;-moz-transition:all 800ms ease-in-out;-o-transition:all 800ms ease-in-out;transition:all 800ms ease-in-out}

/****************************************************************
	인영 - 위컨텐츠
*****************************************************************/
.sa-layout-contents .sa-wrap-top {width:830px; margin:0 auto; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:3px 3px 10px 2px #CCC;
	-moz-box-shadow:3px 3px 10px 2px #CCC;
	-o-box-shadow:3px 3px 10px 2px #CCC;
	-ms-box-shadow:3px 3px 10px 2px #CCC;
	box-shadow:3px 3px 10px 2px #CCC;
	background:#FFF; overflow:hidden; 
}
.sa-layout-contents .sa-wrap-top img {float:left;}
.sa-layout-contents .sa-wrap-top .sa-box-profile{float:left; margin:25px 0 0 45px;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-ui-jobwrap span {font-size:24px; font-weight:bold;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-ui-jobwrap span.sa-ui-job {margin-left:5px; color:#b0973f; font-size:18px;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-introduce {margin:20px 0 30px 0; overflow:hidden;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-introduce li {float:left; padding:0 10px; color:#999; font-size:12px; background:url(../images/icon_bar.jpg)no-repeat left center;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-introduce li:first-child {padding-left:0; background:none;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-introduce li.sa-ui-strong {color:#000;}

.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-photo {margin-bottom:20px; overflow:hidden;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-photo li{float:left; padding-right:1px;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-photo li a {display:block; position:relative; overflow:hidden;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-photo li.sa-list-close a .sa-ui-image-close {display:block;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-photo li span.sa-ui-upload {position:relative; display:block; width:85px; height:59px; background-color:#a2a2a2;}
.sa-layout-contents .sa-wrap-top .sa-box-profile ul.sa-list-photo li span.sa-ui-upload em {position:absolute; top:50%; left:50%; margin:-10px 0 0 -11px; display:block; width:22px; height:21px; background:url(../images/icon_upload.png) no-repeat;}

.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-bg-star {overflow:hidden;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-bg-star p {float:left; margin-right:10px; font-weight:800;} 
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-bg-star .sa-ui-span{float:left;} 
.sa-layout-contents .sa-wrap-top .sa-box-profile span.sa-img-star,
.sa-layout-contents .sa-wrap-top .sa-box-profile span.sa-img-star span{display:inline-block; height:16px; background:url(../images/icon-mini-star.png) no-repeat 0 0; overflow:hidden;}
.sa-layout-contents .sa-wrap-top .sa-box-profile span.sa-img-star {width:97px; vertical-align:middle;}
.sa-layout-contents .sa-wrap-top .sa-box-profile span.sa-img-star span {width:50%; background-position:left bottom; line-height:0; vertical-align:middle;}

.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-list-chat {margin-top:15px; overflow:hidden;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-list-chat a{font-size:14px; font-weight:700;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-list-chat a.sa-bg-chat{padding:10px 28px 10px 38px;  float:left; background-color:#f4f0e2; border-bottom:1px solid #aa9d76; border-top:1px solid #aa9d76;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-list-chat a.sa-bg-chat p{padding:3px 30px; background:url(../images/icon-chat.png)no-repeat left center;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-list-chat a.sa-bg-message{margin-left:10px; padding:10px 20px 10px 35px;; float:left; background-color:#f4f0e2; border-bottom:1px solid #aa9d76; border-top:1px solid #aa9d76;}
.sa-layout-contents .sa-wrap-top .sa-box-profile .sa-list-chat a.sa-bg-message p{padding:3px 23px; background:url(../images/icon-message.png)no-repeat left center;}

/****************************************************************
	중간컨텐츠
*****************************************************************/
.sa-layout-contents .sa-wrap-middle{width:830px; margin:30px auto 20px auto; padding-bottom:15px; border-bottom:1px solid #000; overflow:hidden;}
.sa-layout-contents .sa-wrap-middle p {margin-left:30px; margin-top:5px; font-size:18px; font-weight:800; float:left; }
.sa-layout-contents .sa-wrap-middle span {display:block; width:194px; height:32px; margin-left:250px; background:url(../images/icon-big-star.png) no-repeat 0 0; float:left;}
.sa-layout-contents .sa-wrap-middle span em {display:inline-block; height:32px; background:url(../images/icon-big-star.png) no-repeat left bottom;}
.sa-layout-contents .sa-wrap-middle button {width:100px; height:30px; margin-right:70px; float:right; color:#fff; text-shadow:1px 1px #a8965e; border:1px solid #ac995e; background:#c7b270;}

/****************************************************************
	아래컨텐츠
*****************************************************************/
.sa-layout-contents .sa-wrap-bottom {width:830px; height:300px; margin:0 auto; overflow:hidden;}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile {width:410px; float:left;}
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson {width:410px; float:right}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile > span,
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson > span {font-size:24px; font-weight:700; font-family:"Times New Roman";}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile > span strong,
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson > span strong {display:inline-block; margin-right:10px; font-family:'RixGo';}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile ul,
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson ul {margin-top:20px;}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile ul li,
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson ul li {padding-bottom:15px;}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile ul li span{padding-left:50px; font-weight:600;}
.sa-layout-contents .sa-wrap-bottom .sa-list-profile ul li span.sa-ui-title{padding-left:10px; font-size:14px; font-weight:800; color:#666; background:url(../images/icon-dot.png) no-repeat left 5px; }

.sa-layout-contents .sa-wrap-bottom .sa-list-lesson ul li span.sa-ui-title{padding-left:10px; width:120px; font-size:14px; font-weight:800; color:#666; background:url(../images/icon-dot.png) no-repeat left 5px; float:left;}
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson ul li span{display:block; padding-left:20px; font-weight:600; overflow:hidden;}
.sa-layout-contents .sa-wrap-bottom .sa-list-lesson ul li span > span{display:block; padding-left:0px;}

/****************************************************************
	Send message
*****************************************************************/
.sa-ui-message {padding:0 30px; overflow:hidden;}
.sa-ui-message p.sa-ui-mentcoin {padding:17px 0 6px 0; color:#999; font-size:12px; text-align:right;}
.sa-ui-message p.sa-ui-mentcoin span{color:#847441;}
.sa-ui-message .sa-ui-chat-info {padding:7px 0; border-top:1px solid #262626; border-bottom:1px solid #262626; overflow:hidden;}

.sa-ui-message .sa-ui-chat-info img.sa-data-image {
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -o-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 display:inline-block; float:left; margin-right:47px; width:62px; height:62px; border:1px solid  #c1b58f;}
.sa-ui-message .sa-ui-chat-info .sa-ui-user-info {overflow:hidden;}
.sa-ui-message .sa-ui-chat-info .sa-ui-user-info span.sa-data-name {display:block; padding:8px 0 5px 0; color:#b0973f; font-size:18px; font-weight:bold;}
.sa-ui-message .sa-ui-chat-info .sa-ui-user-info span.sa-data-name em{font-size:24px; color:#000;}
.sa-ui-message .sa-ui-chat-info .sa-ui-user-info span.sa-data-name strong {margin-right:7px; font-size:24px; color:#3b3b3b;}

.sa-ui-message .sa-ui-chat-info .sa-ui-user-det span {padding:0 15px; background:url(../images/icon_bar.jpg) no-repeat left 1px; color:#999; font-size:12px;}
.sa-ui-message .sa-ui-chat-info .sa-ui-user-det span:first-child {padding-left:0px; background:none;}
.sa-ui-message .sa-ui-chat-info .sa-ui-user-det span.sa-data-import {color:#444;}

/****************************************************************
	Send message -채팅창
*****************************************************************/
.sa-wrap-send .sa-ui-chat-send {margin-top:20px; padding:16px; width:100%; height:270px; overflow-y:scroll; border:1px solid #ddd; background-color:#f5f5f5; text-align:left; -webkit-box-sizing:border-box;} 

.sa-wrap-send .sa-ui-student {margin-top:15px; float:right; font-weight:bold; font-size:14px;}
.sa-wrap-send .sa-ui-student em {font-style:italic;font-weight:bold; font-family:"Times New Roman"; font-size:20px; letter-spacing:-2px;}

/****************************************************************
	Send message -footer
*****************************************************************/
.sa-layout-pop-footer button.sa-btn-footer {float:left; width:50%; padding:0 17px;color:#333; box-sizing:border-box}
.sa-layout-pop-footer button.sa-btn-footer span {display:block; width:100%; border-bottom:2px solid #676767; line-height:42px; font-size:16px; color:#333; font-weight:bold;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-cancel,
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-login,
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-join,
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-send {display:inline-block; margin-right:8px; background:url(../images/btn_pop.png) no-repeat; vertical-align:middle;} 
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-cancel {width:20px; height:20px;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-login {width:17px; height:19px; background-position:0px -20px;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-join {margin-top:-3px;width:24px; height:19px; background-position:0px -40px;}
.sa-layout-pop-footer button.sa-btn-footer span em.sa-icon-send {width:18px; height:14px; background-position:0px -60px;}

/****************************************************************
	TAP2
*****************************************************************/
.sa-tab2-contents {width:830px; margin:30px auto 75px auto;}
ul.sa-list-profile {}
ul.sa-list-profile li {height:80px; margin-bottom:10px; border:1px solid #c0b48e; border-radius:5px; background-color:#fff; overflow:hidden; }
ul.sa-list-profile li a {display:block; overflow:hidden; }
ul.sa-list-profile li img.sa-data-image {
	-webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -o-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 display:inline-block; float:left; margin:10px 0 0 10px; width:62px; height:62px; border:1px solid  #c1b58f;}
ul.sa-list-profile li .sa-ui-info {margin:17px 0 0 40px; float:left; }
ul.sa-list-profile li .sa-ui-info span.sa-data-name {display:block; margin-bottom:5px; font-size:20px;}
ul.sa-list-profile li .sa-ui-info .sa-ui-user-det span {padding:0 15px; background:url(../images/icon_bar.jpg) no-repeat left 1px; color:#999; font-size:12px;}
ul.sa-list-profile li .sa-ui-info .sa-ui-user-det span:first-child {padding-left:0px; background:none;}
ul.sa-list-profile li .sa-ui-info .sa-ui-user-det span.sa-data-import {color:#444;}
ul.sa-list-profile li span.sa-ui-time {float:left; margin:45px 0 0 115px; font-size:11px; color:#bca764;}
ul.sa-list-profile li img.sa-btn-sendblue {margin:15px 17px 0 0; float:right;}
ul.sa-list-profile li img.sa-btn-receive {margin:15px 17px 0 0; float:right;} 
ul.sa-list-profile li.sa-disable-profile {opacity:.6;}

/****************************************************************
	TAP3
*****************************************************************/
.sa-tab3-contents {width:980px; margin:0 auto;}
.sa-tab3-contents .sa-ui-title {margin-top:60px; padding-bottom:20px; font-size:18px; font-weight:700; border-bottom:1px solid #555;}
.sa-wrap-coupon {width:830px; margin:35px auto 40px auto; overflow: hidden;}	 		
.sa-wrap-coupon .sa-ui-cou30 {width:399px; height:201px; float:left; background:url(../images/bg-coupon1.png) no-repeat 0 0;}
.sa-wrap-coupon .sa-ui-cou60 {width:399px; height:201px; margin-left:30px; float:left; background:url(../images/bg-coupon2.png) no-repeat 0 0;}		  
.sa-wrap-coupon2 {width:830px; margin:35px auto 180px auto; overflow: hidden;}
.sa-wrap-coupon2 .sa-ui-cou30 {width:399px; height:201px; float:left; background:url(../images/bg-coupon3.png) no-repeat 0 0; overflow:hidden;}			  
.sa-wrap-coupon2 .sa-ui-cou60 {width:399px; height:201px; margin-left:30px; float:left; background:url(../images/bg-coupon4.png) no-repeat 0 0; overflow:hidden;}	
/** TAP3 공통요소들 **/
.sa-ui-g-coin {overflow:hidden;}
.sa-ui-g-coin .sa-ui-count30{overflow:hidden; float:left;}
.sa-ui-g-coin .sa-ui-count30 img.sa-img-coin {margin:30px 0 0 30px; float:left;}
.sa-ui-g-coin .sa-ui-count30 img.sa-img-multi {margin:55px 0 0 10px; float:left;}
.sa-ui-g-coin .sa-ui-count30 span.sa-ui-count {margin:35px 0 0 20px; font-size:40px; font-family:"notokr-regular"; color:#bca764; float:right;}
.sa-ui-g-coin span.sa-ui-price {display:block; margin:55px 0 0 30px; float:left; font-size:20px; font-weight:600;}
span.sa-icon-buy {display:block; margin:50px 0 0 152px; padding:4px 0 5px 30px; color:#fff; font-size:16px; background:url(../images/icon-okay.png) no-repeat left center;}
			  


			  
